<div class="auth-container">
    <div class="auth-box">
      <h2>SIGN UP</h2>
      <form>
        <div class="input-container full-width">
          <label for="username">Username</label>
          <input type="text" id="username" class="custom-input">
        </div>
  
        <div class="input-container full-width">
          <label for="email">E-mail</label>
          <input type="email" id="email" class="custom-input">
        </div>
  
        <div class="input-container full-width">
          <label for="password">Password</label>
          <input type="password" id="password" class="custom-input">
        </div>
  
        <div class="input-container full-width">
          <label for="confirm-password">Confirm Password</label>
          <input type="password" id="confirm-password" class="custom-input">
        </div>
  
        <button class="full-width">CREATE ACCOUNT</button>
  
        <p>
          Already have an account? <a routerLink="/login">Login here</a>
        </p>
      </form>
    </div>
  </div>
  
